;; shadow-cljs configuration
{:deps true

  :builds
 {:app
  {:target :react-native
   :init-fn umeng.app/init
   :output-dir "app"
   :devtools {:autoload true
              :preloads [shadow.expo.keep-awake]}}}}
